@charset "utf-8";
/* CSS Document */

a{
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
}

#top {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 8px 10px aliceblue;
	z-index: 3;
}

.top_buttons {
	height: 28px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 72px;
	font-size: 20px;
	font-family: DENG;
}

.top_buttons:hover {
	background: aliceblue;
}

#content {
	padding-top: 100px;
}

#home {
	display: flex;
	flex-direction: row;
	padding-left: 80px;
	padding-top: 60px;
}

#me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
}

#amatar {	
	display: flex;
	border-radius: 50%;
	height: 200px;
}

#name {
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-family: DENG;
	margin-top: 30px;
}

#photos {
	display: flex;
	flex-direction: row;
	height: 200px;
	margin: 30px 80px 0 150px;
	overflow-x: auto;
}

.carousel-inner img {
      width: 180px;
      height: 180px;
}

#songs{
	margin-top: 200px;
	background: white;
	width: 100%;
	margin: 50px 10% 50px 10%;
}

.view_album {
	height: 350px;
	width: 300px;
	margin: 50px;
	float: left;
}

.img_album {
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: column;
}

.text_album {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

#shade {
	position: absolute;
	left: -300px;
	top: -300px;
}

#square {
	background-color: black;
	height: 300px;
	width: 300px;
	opacity: 0.3;
	z-index: 0;
}

#icon_play {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 130px;
	top: 130px;
	z-index: 1;
}

#plapiggy {
	display: flex;
	background: white;
	width: 100%;
	margin-left: 10%;
	padding-top: 50px;
}

#img_qrcode {
	height: 200px;
	width: 200px;
}

#slide_pagination {
	left: 40%;
}

#contact {
	cursor: url('icon/pignose.ico'),auto;
	width: 100%;
	height: 550px;
	margin-top: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#peiqi_contact li img {
	margin: auto;
	z-index: 2;
	position: absolute;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

#peiqi_contact li img:hover {
	transform: rotate(360deg) scale(1.5);
	-webkit-transform: rotate(360deg) scale(1.5);
	-moz-transform: rotate(360deg) scale(1.5);
	-ms-transform: rotate(360deg) scale(1.5);
	-o-transform: rotate(360deg) scale(1.5);
}

#peiqi_left {
	left: 100px;
}

#peiqi_right {
	right: 100px;
}

#text_contact {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	width: 40%;
	align-items: center;
}

#contact_pig {
	display: flex;
	flex-direction: column;
	font-size: 56px;
	color: black;
}

#button_pigpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
}